<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">

        <!-- Home -->
        <li class="nav-item d-block d-md-none">
            <a
                class="logo-font font-weight-bold nav-link text-black mr-5"
                href="{% url 'home' %}"
                id="home-link"
            >
                Home
            </a>
        </li>

        <!-- All Products -->
        <li class="nav-item dropdown">
            <a
                class="logo-font font-weight-bold nav-link dropdown-toggle text-black mr-5"
                href="#"
                id="all-products-link"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
            >
                All Products
            </a>

            <div
                class="dropdown-menu border-0"
                aria-labelledby="all-products-link"
            >
                <a
                    href="{% url 'products' %}?sort=price&direction=asc"
                    class="dropdown-item"
                >
                    By Price
                </a>

                <a
                    href="{% url 'products' %}?sort=rating&direction=desc"
                    class="dropdown-item"
                >
                    By Rating
                </a>

                <a
                    href="{% url 'products' %}?sort=category&direction=asc"
                    class="dropdown-item"
                >
                    By Category
                </a>

                <div class="dropdown-divider"></div>

                <a
                    href="{% url 'products' %}"
                    class="dropdown-item"
                >
                    All Products
                </a>
            </div>
        </li>

        <!-- Flowers -->
        <li class="nav-item dropdown">
            <a
                class="logo-font font-weight-bold nav-link dropdown-toggle text-black mr-5"
                href="#"
                id="flowers-link"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
            >
                Flowers
            </a>

            <div
                class="dropdown-menu border-0"
                aria-labelledby="flowers-link"
            >
                <a
                    href="{% url 'products' %}?category=Roses"
                    class="dropdown-item"
                >
                    Roses
                </a>

                <a
                    href="{% url 'products' %}?category=Lilies"
                    class="dropdown-item"
                >
                    Lilies
                </a>

                <a
                    href="{% url 'products' %}?category=Peonies"
                    class="dropdown-item"
                >
                    Peonies
                </a>

                <a
                    href="{% url 'products' %}?category=Mixed"
                    class="dropdown-item"
                >
                    Mixed Bouquets
                </a>

                <a
                    href="{% url 'products' %}?category=other-flowers"
                    class="dropdown-item"
                >
                    Other Flowers
                </a>

                <div class="dropdown-divider"></div>

                <a
                    href="{% url 'products' %}?category=Roses,Lilies,Peonies,Mixed,other-flowers"
                    class="dropdown-item"
                >
                    All Flowers
                </a>
            </div>
        </li>

        <!-- Gifts -->
        <li class="nav-item">
            <a
                class="logo-font font-weight-bold nav-link text-black mr-5"
                href="{% url 'products' %}?category=Gifts"
                id="gifts-link"
            >
                Gifts
            </a>
        </li>

        <!-- Special Offers -->
        <li class="nav-item">
            <a
                class="logo-font font-weight-bold nav-link text-black"
                href="{% url 'products' %}?category=deals"
                id="specials-link"
            >
                Special Offers
            </a>
        </li>

    </ul>
</div>